<h1>Readings</h1>

<form action="/dashboard" method="get">
  <h3>
    Range
    <input name="start_date" value="<%= @report[:start_date] %>" />
    to
    <input name="end_date" value="<%= @report[:end_date] %>" />
    <input type="submit" />
  </h3>
</form>

<hr>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<%= javascript_tag "weatherData(#{@report.to_json})" %>
